NODE_ENV=development
PORT=3000
USER="some user"
DATABASE="database url"
DATABASE_LOCAL=mongodb://localhost:27017/natours
DATABASE_PASSWORD="password database"

JWT_SECRET=my-ultra-secure-and-ultra-long-secret
JWT_EXPIRES_IN="put some day here"
JWT_COOKIE_EXPIRES_IN=90

EMAIL_HOST=smtp.mailtrap.io
EMAIL_USERNAME=username
EMAIL_PASSWORD=password
EMAIL_PORT=port